@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=League+Spartan:wght@100;700&family=Poppins&family=Roboto:wght@300;400;500;700&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

.cursor {
  cursor: pointer;
  font-size: 1.25em;
  margin: 0 1em;
}

.likes-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 30%; */
  /* background-color: red; */
  /* border-radius: 5%; */
  padding: 0 0.5em;
}

.username-section {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  width: 50%;
}

.follow {
  font-size: .5em;
  cursor: pointer;
  padding-left: .5em;
  margin-top: 1px;
}

.curve {
  border-radius: 10px;
}

.post-info {
  width: 50%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5em;
  /* border-radius: 5%; */
  margin: 5px;
  /* padding: 0 0.1em; */
}

.comment-input {
  font-family: 'Roboto', sans-serif;
  font-family: 500;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 75%;
  justify-content: center;
  background: red;
}

.comment-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 20em; */
  justify-content: center;
  align-items: center;
  max-width: 50%;
  border-radius: 10px;
  padding: .5em 0;
}

.comment-list {
  font-family: 'Roboto', sans-serif;
  font-family: 500;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background: red;
}

.send-container {
  font-size: 2em;
  transition: transform 0.2s;
}

.single-comment {
  margin: 0.25em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* .send-container:focus {
  outline: 2px solid black;
  border-radius: 5px;
} */

.send-container:active {
  transform: scale(0.8);
}

.main {
  width: 75%;
  margin: auto;
  background: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  border-radius: 5%;
  margin: 2em 0 0 0;
}

@media (min-width: 1900px) {
  .main {
    width: 50%;
  }
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: slateblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar .links {
  text-align: center;
  margin-right: 50px;
}

.links a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  margin: 10px;
}

.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.user p {
  font-size: 15px;
  margin-right: 10px;
  color: white;
}
.user img {
  font-size: 15px;
  border-radius: 50%;
}

.create-post {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
form {
  margin-top: 50px;
  padding: 30px 20px;
  width: 320px;
  border-radius: 7px;
  background-color: white;
  backdrop-filter: blur(5px);
  background-color: rgba(43, 0, 255, 0.588);
  overflow: hidden;
}

input,
textarea {
  font-family: "Nunito", sans-serif;
  padding: 8px 10px;
  margin: 1em 1em;
  background-color: rgba(222, 239, 248, 0.877);
  border: 0px transparent;
  border-radius: 5px;
  /* color: rgb(97, 4, 184); */
  font-size: 16px;
  z-index: 1;
  width: 75%;
  overflow: hidden;
}

.submitForm:hover {
  cursor: pointer;
}

.image {
  max-width: 100%;
  border-radius: 5%;
}

.orange {
  background-color: orange;
}